body {
	background-color: green;
}

span.numbers{
	color: red;
}

span.word{
	font-weight: bold;
}

div.edit-news-modal-window{
	border: 4px solid black;
	background-color: rgb(60, 133, 165);
	display: none;
	z-index: 9999;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}